p {
  font-size: 1.1rem;
  margin: 0;
  padding: 1rem 1rem 1rem 1rem; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }
  a:focus {
    outline: none !important; }
  a.link {
    color: #6cd6bb;
    font-weight: 400; }

h3 {
  font-size: 1.2rem; }

h1, h2, h3 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 2rem 0;
  margin: 0; }

@media only screen and (min-width: 768px) {
  h1 {
    padding-top: 0; } }

h2 {
  padding: 2rem 0 2rem 0; }

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  padding: 2rem 0; }
  form ::placeholder {
    font-weight: 300; }
  @media only screen and (min-width: 768px) {
    form {
      width: 70%;
      margin-left: 15%; } }
  form input[type="text"],
  form input[type="email"],
  form textarea {
    border-radius: 5px;
    padding-left: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: inherit;
    outline: none;
    cursor: text;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 30px;
    width: 90%;
    height: 3rem; }
    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form textarea:focus {
      border: 1px solid #45f8d5;
      box-shadow: none; }
  form #message {
    min-height: 150px;
    padding-top: 1rem; }

@media only screen and (min-width: 768px) {
  .box {
    width: 55%;
    margin-left: 50px;
    height: 60vh;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    background-color: #fbfbfb; } }

#Header {
  height: 3rem;
  position: fixed;
  width: inherit;
  top: 0;
  background-color: #fbfbfb;
  z-index: 1;
  line-height: 1.5;
  opacity: 0.9; }
  #Header nav {
    height: inherit;
    margin: 0;
    width: inherit; }
    #Header nav ul {
      height: inherit;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0; }
      @media only screen and (min-width: 768px) {
        #Header nav ul {
          justify-content: center; } }
      #Header nav ul a {
        line-height: 46px;
        justify-self: center;
        align-self: center; }
        #Header nav ul a:active {
          color: inherit; }
        @media only screen and (min-width: 768px) {
          #Header nav ul a {
            margin: 0 2.5rem; } }
  #Header .activeLink {
    border-bottom: 2px solid #45f8d5;
    font-weight: 400; }

#Hero {
  border: none;
  margin-top: 3rem; }
  @media only screen and (min-width: 768px) {
    #Hero {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-image: url("/images/mac.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: calc(100vh - 3rem);
      position: relative; } }
  #Hero .circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 0px 4px 3px rgba(153, 153, 153, 0.8); }
    @media only screen and (min-width: 768px) {
      #Hero .circle {
        display: block;
        float: left;
        shape-outside: circle();
        shape-image-threshold: 0.5;
        position: relative;
        margin-right: 4rem; } }
  #Hero .intro {
    align-self: center; }
    #Hero .intro p {
      text-align: center;
      padding: 2rem;
      padding-bottom: 0; }
      @media only screen and (min-width: 768px) {
        #Hero .intro p {
          width: 82%;
          text-align: left;
          line-height: 1.8;
          padding-top: 1rem; } }
    @media only screen and (min-width: 768px) {
      #Hero .intro {
        position: relative;
        left: 3rem; } }

#Projects {
  background-color: #f8f8f8; }
  @media only screen and (min-width: 768px) {
    #Projects .projects {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 2rem;
      width: 90%;
      box-sizing: content-box;
      margin-left: 5%; } }
  #Projects h2 {
    padding-bottom: 2rem; }
  #Projects .image {
    background-color: #fff;
    margin: 0 1rem 2rem 1rem;
    box-sizing: content-box; }
  #Projects img {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(#45f8d5, #6cd6bb);
    display: block; }
    #Projects img:hover {
      cursor: pointer; }
  #Projects .name {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 400; }
  #Projects ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  #Projects .description {
    line-height: 1.8; }

#Footer {
  background-color: #f8f8f8;
  height: 8rem;
  margin-top: 2rem; }
  #Footer p {
    font-size: 0.9rem; }
  #Footer i {
    font-size: 1.3rem;
    margin: 2rem 2rem; }
  #Footer .github {
    margin-bottom: -3px; }
  #Footer .social {
    display: flex;
    justify-content: center;
    align-items: flex-end; }

html {
  font-size: 16px;
  margin: 0;
  width: 100%;
  overflow-x: hidden; }

body {
  overflow-y: hidden;
  margin: 0;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: "Work sans", sans-serif;
  font-weight: 300;
  color: #333333;
  background-color: #fbfbfb; }

ul {
  text-decoration: none;
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  display: inline-block;
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
