#Footer {
  background-color: $secondaryBg;
  height: 8rem;
  margin-top: 2rem;
p {
  font-size: 0.9rem;
}
  i {
font-size: 1.3rem;
margin: 2rem 2rem;
  }

  .github {
    margin-bottom: -3px;
  }
  .social {
    display: flex;
    justify-content: center;
    align-items: flex-end;

  }

}
