#Footer {
  background-color: $secondaryBg;
  height: 3rem;
  text-align: left;

p {
  padding-bottom: 0;
  font-size: 0.9rem;
}
  i {
    margin: 1rem 0 1rem 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
  }
  
}
