#Header {
  height: 3rem;
  position: fixed;
  width: inherit;
  top: 0;
  background-color: $secondaryBg;
  z-index: 1;
  line-height: 1.5;
  opacity: 0.9;
  //border-left: 0.5rem solid $navBorder;
    nav {
    height: inherit;
    margin: 0;
    width: inherit;
      ul {
      height: inherit;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
        a {
          line-height: 46px;
        justify-self: center;
        align-self: center;
        &:active {
          color: inherit;
        }
    }
    }
    li {


    }
  }
  .activeLink {
    border-bottom: 2px solid $navBorder;
    font-weight: 400;

  }
}
