#Header {
  height: 3rem;
  position: fixed;
  width: inherit;
  top: 0;
  background-color: $mainBg;
  z-index: 1;
  line-height: 1.5;
  opacity: 0.9;
  @include min-width(500px) {
  font-size: 1.2rem;
  }


  nav {
    height: inherit;
    margin: 0;
    width: inherit;

    ul {
      height: inherit;
      display: flex;
      flex-direction: row;
      padding: 0;
      @include min-width(1025px){
        justify-content: center;
      }
      a {
        line-height: 46px;
        justify-self: center;
        align-self: center;
        &:active {
          color: inherit;
        }
        @include min-width(768px) {
          margin: 0 2.5rem;
        }
      }
    }
    li {
    }
  }
  .activeLink {
    border-bottom: 2px solid $navBorder;
    font-weight: 400;
  }
}
