#Projects {
  background-color: $secondaryBg;


  p {
    padding-top: 1rem;
  }
  .projects {
    @include min-width(768px){
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 2rem;
      width: 90%;
      box-sizing: content-box;
      margin-left: 5%;
  }
}
  h2 {
    padding-bottom: 2rem;
  }
  .image {
    box-sizing: content-box;
    background-color: #fff;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1rem;
    @include min-width(1025px){
      margin: 0 1rem 1rem 1rem;
    }


    }

  img {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(#45f8d5, #6cd6bb);
    //background: linear-gradient(45deg,#E60000, #FF3434);
    display: block;
    &:hover {
      cursor: pointer;
  }
}
  .name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  }
  ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .description  {

    line-height: 1.8;
  }
}
