#Projects {
  background-color: #fbfbfb;

  img {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(#45f8d5, #6cd6bb);
    display: block;


    //border: 2px solid black;
    //border-bottom: 4px solid black;
  }
  .name {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  //padding: 1rem;

  }
  ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .image {
    margin: 0 1rem;
    position: relative;
    box-sizing: content-box;
    &:hover {
      box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
      cursor: pointer;
    }
  }
  p.description {
    padding-bottom: 4rem;
  }
}
