#Projects {
  background-color: #fbfbfb;

  .image {
    background-color: #fff;
    margin: 0 1rem 2rem 1rem;
    box-sizing: content-box;
    }

  img {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    background: linear-gradient(#45f8d5, #6cd6bb);
    display: block;
    &:hover {
      cursor: pointer;
  }
}
  .name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 400;
  }
  ul {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
