// Fonts

$sourceSans: 'source sans pro' , sans-serif;
$openSans: 'Open Sans', sans-serif;
$assistant: 'Assistant', sans-serif;
$work: 'Work sans', sans-serif;
$lato: 'Lato', sans-serif;

// Colors
$secondaryBg: rgba(247,	247, 247, 1);
$highlightedText: #6cd6bb;
$navBorder: #45f8d5;
