// Fonts

$sourceSans: 'source sans pro' , sans-serif;
$openSans: 'Open Sans', sans-serif;
$assistant: 'Assistant', sans-serif;
$work: 'Work sans', sans-serif;
$lato: 'Lato', sans-serif;

// Colors
$mainBg: #fbfbfb;
$secondaryBg: #f8f8f8;
$headerBg: rgba(246,	246, 246, 1);
$highlightedText: #6cd6bb;
$navBorder: #45f8d5;
