// Fonts

$sourceSans: 'source sans pro' , sans-serif;
$lato: 'Lato', sans-serif;

// Colors
$secondaryBg: rgba(247,	247, 247, 1);
$highlightedText: rgba(234,45,	184, 1);
$accentBorder: rgba(	45,	234,	95, 0.5);
